@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto Mono", monospace;
}

.app-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 10fr 1fr;
}
